VUE_APP_ROOT_API=https://localhost:3030/api/v1
VUE_APP_PERSISTENT_STORE_KEY=cash

PORT=3030
PORT_TESTS=3031
JWT_SECRET=bA2xcjpf8y5aSUFsNB2qN5yymUBSs6es3qHoFpGkec75RCeBb8cpKauGefw5qy4
JWT_EXPIRATION_MINUTES=60
MONGO_URI=mongodb://localhost:27017/cash
MONGO_URI_TESTS=mongodb://localhost:27017/cash-test
MONGO_DOCKER_URI=mongodb://mongodb:27017/cash
MONGO_DOCKER_URI_TESTS=mongodb://mongodb:27017/cash-test